@import url(https://use.fontawesome.com/releases/v6.1.0/css/all.css);

a[href="/login"] {
    color: white;
}
  
a[href="/logout"] {
    color: white;
}

a {
    color: #E83D84;
}

body {
    background-color: #eee;

}

@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

input[type="number"] {
    border: none;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
    color: #696969;
    padding: 10px;
    border: 1px solid #f7f7f7;
    height: 50px;
}