@import url(https://use.fontawesome.com/releases/v6.1.0/css/all.css);

a[href="/login"] {
    color: white;
}
  
a[href="/logout"] {
    color: white;
}

a {
    color: #E83D84;
}

body {
    background-color: #eee;

}

@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

#content h2 {
    font-size: initial;
    font-weight: initial;
    color: initial;
    margin: initial;
    padding: initial;
    border-bottom: initial;
}