services:
  app:
    build:
      context: .
      args:
        REACT_APP_API_ENDPOINT: http://localhost:8080
        LOGIN_FRONTEND_URL: http://nyckeln:7002
    environment:
      DATABASE_URL: postgresql://damm:damm@db:5432/damm
      LOGIN_API_URL: http://nyckeln:7002
      SSO_API_URL: http://nyckeln:7003/op
      HIVE_API_URL: http://nyckeln:7004/api/v1
      HIVE_API_KEY: aaaa
      NODE_ENV: development
      PORT: 8080
    depends_on:
      db:
        condition: service_healthy
    ports: [ 8080:8080 ]
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_PASSWORD: damm
      POSTGRES_USER: damm
      POSTGRES_DB: damm
    healthcheck:
      test:
        - "CMD-SHELL"
        - "sh -c 'pg_isready -d damm -U damm'"
      interval: 1s
      timeout: 5s
      retries: 5
      start_period: 10s
  nyckeln:
    image: ghcr.io/datasektionen/nyckeln-under-dorrmattan
    configs:
      - source: nyckeln.yaml
        target: /config.yaml
    ports:
      - 7002:7002
      - 7003:7003
      - 7004:7004

configs:
  nyckeln.yaml:
    content: |
      clients:
        - id: "client-id" # use this in your oidc client
          secret: "client-secret" # use this in your oidc client
          redirect_uris: # URIs of your oidc client
            [
              "http://localhost:4000/api/callback",
              "http://localhost:4000/oidcc/authorize",
            ]

      users:
        - ug_kth_id: some-id
          kth_id: turetek
          email: turetek@kth.se
          first_name: Ture
          family_name: Teknolog
        - ug_kth_id: some-other-id
          kth_id: diadat
          first_name: Diana
          family_name: Datalog
        - ug_kth_id: yet-another-id
          kth_id: martmed
          first_name: Martin
          family_name: Median

      hive:
        groups:
          - name: Sektionshistoriker 
            id: historiker
            domain: example.com
            members:
              - turetek
            permissions:
              - id: admin
              - id: post
          - name: Prylmånglaren
            id: prylis
            domain: example.com
            members:
              - diadat
            permissions:
              - id: prylis
          - name: Funktionärer
            id: dfunk
            domain: example.com
            members:
              - martmed
            permissions:
              - id: post
