services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        REACT_APP_API_ENDPOINT: http://localhost:8080
    ports:
      - 8080:8080
    environment:
      SESSION_SECRET: "asdf"
      DATABASE_URL: postgres://damm:damm@localhost:5432/damm
      OIDC_PROVIDER: http://localhost:7003
      OIDC_CLIENT_ID: client-id
      OIDC_CLIENT_SECRET: client-secret
      REDIRECT_URL: http://localhost:8080/oidc/callback
      HIVE_API_URL: http://localhost:7004/api/v1
      HIVE_API_KEY: aaaa
      RFINGER_API_URL: https://rfinger.datasektionen.se
      RFINGER_API_KEY: 
      NODE_ENV: development
      PORT: 8080
    depends_on:
      db:
        condition: service_healthy
    configs:
      - source: nginx.conf
        target: /etc/nginx/nginx.conf
    network_mode: "host"

  db:
    image: postgres:16-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: damm
      POSTGRES_USER: damm
      POSTGRES_DB: damm
    healthcheck:
      test:
        - "CMD-SHELL"
        - "sh -c 'pg_isready -d damm -U damm'"
      interval: 1s
      timeout: 5s
      retries: 5
      start_period: 10s

  nyckeln:
    image: ghcr.io/datasektionen/nyckeln-under-dorrmattan
    configs:
      - source: nyckeln.yaml
        target: /config.yaml
    ports:
      - 7003:7003
      - 7004:7004

configs:
  nginx.conf:
    content: |
      events {}

      http {
        server {
          listen 7003;
          server_name localhost;

          location / {
            proxy_pass http://nyckeln:7003;
            proxy_set_header Host $host;
          }
        }
      }


  nyckeln.yaml:
    content: |
      clients:
        - id: client-id
          secret: client-secret
          redirect_uris:
           - http://localhost:8080/oidc/callback

      users:
        - ug_kth_id: some-id
          kth_id: turetek
          email: turetek@kth.se
          first_name: Ture
          family_name: Teknolog
        - ug_kth_id: some-other-id
          kth_id: diadat
          first_name: Diana
          family_name: Datalog
        - ug_kth_id: yet-another-id
          kth_id: martmed
          first_name: Martin
          family_name: Median

      hive:
        groups:
          - name: Sektionshistoriker 
            id: historiker
            domain: example.com
            members:
              - turetek
            permissions:
              - id: admin
              - id: post
          - name: Prylmånglaren
            id: prylis
            domain: example.com
            members:
              - diadat
            permissions:
              - id: prylis
          - name: Funktionärer
            id: dfunk
            domain: example.com
            members:
              - martmed
            permissions:
              - id: post
