name: Build and lint

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: postgresql://admin:12345@localhost:5432/testdb

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - name: Git checkout
      uses: actions/checkout@v2
      
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install packages
     run: npm ci
    - name: Lint backend
     run: npm run lint
    - name: Build backend
     run: npm run build
    - name: Build frontend
     run: npm run build
     working-directory: client
    - name: Run tests
     run: npm run test
